{% load static %}
<footer class="footer mt-5">
    <div class="container">
        <div class="row">
            <!-- Contact Us -->
            <div class="col-md-3">
                <h5>Contact Us</h5>
                <div class="footer-content">
                    <p>National Board for Technical Education</p>
                    <p>Plot B Bida Road</p>
                    <p>PMB 2239</p>
                    <p>Kaduna - Nigeria</p>
                    <p>+234-9026475039,</p>
                    <p>+234-8137291819</p>
                    <p>enquiries@nbte.gov.ng</p>
                </div>
            </div>

            <!-- NBTE Liaison Office -->
            <div class="col-md-3">
                <h5>NBTE Liaison Office</h5>
                <div class="footer-content">
                    <p>Plot 644 Zambezi Crescent</p>
                    <p>Off Aguyi Ironsi Way, Opposite</p>
                    <p>TETFund</p>
                    <p>Maitama - Abuja</p>
                </div>
            </div>

            <!-- My Mail Box -->
            <div class="col-md-3">
                <h5>My Mail Box</h5>
                <div class="footer-content">
                    <p>To check your mailbox please <a href="#" class="footer-link">click here</a></p>
                    <p><a href="#" class="footer-link">Click here</a> to download the Circular on Implementation of the Revised Schemes of Service for Polytechnics</p>
                    <p><a href="#" class="footer-link">Click here</a> to download the Circular to all professional bodies on Commencement of Technology-Enabled Quality Assurance</p>
                    <p><a href="#" class="footer-link">Click here</a> to download the Circular on the Introduction of Quick Reference (QR) Code in All Official Letters of the Board</p>
                </div>
            </div>

            <!-- Useful Links -->
            <div class="col-md-3">
                <h5>Useful Links</h5>
                <div class="footer-content">
                    <p><a href="#" class="footer-link">Click Here</a> to Visit the NYSE Website</p>
                    <p><a href="#" class="footer-link">Click Here</a> to Visit the NBTE Consult Website</p>
                    <p><a href="#" class="footer-link">Click Here</a> to login to the Digital QA Portal</p>
                    <p><a href="#" class="footer-link">Click Here</a> to login to the NBTE Statistical Portal</p>
                    <p><a href="#" class="footer-link">Click Here</a> to Visit the HND Admission Portal</p>
                    <p><a href="#" class="footer-link">Click Here</a> to Visit the HND Topup Programme Portal</p>
                    <p><a href="#" class="footer-link">Click Here</a> to Visit the Website of the Federal Ministry of Education</p>
                </div>
            </div>
        </div>

        <!-- Copyright and Social Media -->
        <div class="footer-bottom mt-4 pt-3 border-top">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <p class="mb-0">© 2025 National Board for Technical Education, All rights reserved.</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <div class="social-links">
                        <a href="#" class="me-2"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="me-2"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="me-2"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer> 