{% extends 'base.html' %}
{% load static %}

{% block title %}Open Distance and Flexible e-Learning (ODFeL){% endblock %}

{% block content %}
<!-- Breadcrumb -->
<div class="bg-light py-2">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="{% url 'nbtelog:index' %}">Home</a></li>
                <li class="breadcrumb-item active" style="color: #006838;">Open Distance and Flexible e-Learning (ODFeL)</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mb-4">Open Distance and Flexible e-Learning (ODFeL)</h1>

            <div class="content-section">
                <p class="mb-4">
                    In realization of the fact that Technical and Vocation Education and Training (TVET) hold the key to 
                    Nigeria becoming technologically relevant and internationally competitive in the world market, the 
                    NBTE took the initiative to introduce the Open Distance and Flexible e-Learning (ODFeL) in 2016 to 
                    widen access to tertiary education in view of the limited carrying capacity of tertiary institutions 
                    compared to the demand. To achieve this goal, the NBTE developed a National TVET Policy and 
                    Strategy on ODFeL in 2018 which guides the operation of the ODFeL.
                </p>

                <p class="mb-4">
                    In 2021, approval was granted for the takeoff of the Open, Distance and Flexible eLearning (ODFeL) 
                    initiative, marking the beginning of its implementation in the TVET sector.
                </p>

                <p class="mb-4">
                    <a href="#" class="text-success">Click here to Download the ODFeL Policy</a>
                </p>

                <p class="mb-4">
                    The ODFeL differs in so many ways from the conventional or traditional method of delivering 
                    instruction. It is a learner centered in view of students being the focus of any educational system. 
                    Under this, teaching and learning are characterized by the separation of teacher and learner in 
                    time and or/space, the use of multimedia for delivery of instruction or instruction materials. It also 
                    involves a two-way communication and occasional face-to-face meeting for tutorials and student-
                    teacher interaction.
                </p>

                <p class="mb-4">
                    ODFeL provides opportunities for different kind of learners such visual learners; auditory learners, 
                    kinesthetic learners, peer group learners etc who cannot or do not want to take part in classroom 
                    teaching at a particular institution on a full time basis to learn based on their peculiar need.
                </p>

                <p class="mb-4">
                    It makes it possible for secondary school graduates to enroll in TVET and pursue much of their course 
                    without leaving their home area by means of Information and Communication Technology (ICT).
                </p>

                <p class="mb-4">
                    The NBTE for now approve a 70:30 method with lectures delivered online taking 70% while 
                    practicals and examinations physically in the institutions having 30%.
                </p>

                <h2 class="mb-3">So far 40 Institutions have been approved to run ODFeL. They are:</h2>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="10%">S/N</th>
                                <th>Institution</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>1</td><td>Federal Polytechnic Bida</td></tr>
                            <tr><td>2</td><td>Plateau State Polytechnic Barkin Ladi</td></tr>
                            <tr><td>3</td><td>Auchi Polytechnic, Auchi</td></tr>
                            <tr><td>4</td><td>Federal Polytechnic, Idah</td></tr>
                            <tr><td>5</td><td>Federal Polytechnic, Nekede-Owerri</td></tr>
                            <tr><td>6</td><td>Federal Polytechnic, Oko</td></tr>
                            <tr><td>7</td><td>Akanu-Ibiam Federal Polytechnic, Unwana</td></tr>
                            <tr><td>8</td><td>Imo State Polytechnic, Umuwa</td></tr>
                            <tr><td>9</td><td>Heritage Polytechnic, Ikot Udota, Eket</td></tr>
                            <tr><td>10</td><td>Federal Polytechnic, Nasarawa</td></tr>
                            <tr><td>11</td><td>Dorben Polytechnic, Bwari</td></tr>
                            <tr><td>12</td><td>Federal Polytechnic, Bali</td></tr>
                            <tr><td>13</td><td>Federal Polytechnic, Mubi</td></tr>
                            <tr><td>14</td><td>Ramat Polytechnic, Maiduguri</td></tr>
                            <tr><td>15</td><td>Federal Polytechnic, Damaturu</td></tr>
                            <tr><td>16</td><td>Kano State Polytechnic, Kano</td></tr>
                            <tr><td>17</td><td>Hussaini Adamu Federal Polytechnic, Kazaure</td></tr>
                            <tr><td>18</td><td>Federal Polytechnic, Kaura Namoda</td></tr>
                            <tr><td>19</td><td>Umaru Ali Shinkafi Polytechnic, Sokoto</td></tr>
                            <tr><td>20</td><td>Kaduna Polytechnic, Kaduna</td></tr>
                            <tr><td>21</td><td>Mai Idris Alooma Polytechnic, Geidam</td></tr>
                            <tr><td>22</td><td>The Polytechnic, Ibadan</td></tr>
                            <tr><td>23</td><td>Federal Polytechnic, Ado-Ekiti</td></tr>
                            <tr><td>24</td><td>Kwara State Polytechnic, Ilorin</td></tr>
                            <tr><td>25</td><td>Yaba College of Technology</td></tr>
                            <tr><td>26</td><td>Osun State Polytechnic, Iree</td></tr>
                            <tr><td>27</td><td>Federal Polytechnic, Ilaro</td></tr>
                            <tr><td>28</td><td>Federal Polytechnic, Ede</td></tr>
                            <tr><td>29</td><td>Ogun state Institute of Technology, Igbesa</td></tr>
                            <tr><td>30</td><td>Osun State College of Technology, Esa-Oke</td></tr>
                            <tr><td>31</td><td>Lagos State Polytechnic, Ikorodu</td></tr>
                            <tr><td>32</td><td>Federal Polytechnic, Ile-Oluji</td></tr>
                            <tr><td>33</td><td>Niger Polytechnic, Zungeru</td></tr>
                            <tr><td>34</td><td>Abuja School of Pensions & Retirement Planning, Abuja</td></tr>
                            <tr><td>35</td><td>Rufus Giwa Polytechnic, Owo</td></tr>
                            <tr><td>36</td><td>Lapo Institute for Microfinance and Management Studies, Benin</td></tr>
                            <tr><td>37</td><td>Ajayi Polytechnic, Ikere-Ekiti</td></tr>
                            <tr><td>38</td><td>Citi Polytechnic, Abuja</td></tr>
                            <tr><td>39</td><td>Edo State Polytechnic, Usen</td></tr>
                            <tr><td>40</td><td>Federal Polytechnic Offa</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .table {
        margin-top: 20px;
    }
    .table th {
        background-color: #f8f9fa;
    }
    .table td, .table th {
        vertical-align: middle;
    }
</style>
{% endblock %} 